.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  a,
  span {
    font-size: 12px;
    font-weight: 400;
  }

  .navigation-list {
    justify-content: flex-end;
  }
}

.copyrights {
  display: flex;
  flex-direction: column;

  a {
    color: #278AFF;
    text-decoration: underline;
  }
}

@import './_media'